*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.main_container1{
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #5f63a0;
}
.main_container2{
    margin: 0px auto;
    width: fit-content;
    background-color: #00abffad;
    padding: 9px;
    border-radius: 9px;
}
.main_container1 h1 {
    text-align: center;
}
.main_container1 input{
    outline: none;
    background-color: white;
    border: 3px solid gray;
    border-radius: 5px;
    width: 30vw;
    height: 9vh;
    font-size: 2rem;
    padding-left: 20px;
    padding-top: 7px;
    padding-bottom: 4px;
    cursor: pointer;
    border-radius: 40px;
}
.parent_div button {
    outline: none;
    cursor: pointer;
    border: none;
    background-color: #dadce0;
    width: 7.3vw;
    height: 14vh;
    margin: 6px 0px;
    font-size: 1.5rem;
    border-radius: 8px;
    border: 3px solid gray;
}
.parent_div button:hover{
    background-color: #cdced3e4;
    border: 3px solid rgb(103, 102, 102);
}